<!DOCTYPE html>
<html>
<title>Digital Toll Tax Calculator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" Navbar href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color:LightYellow">


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"> DTTC | <b>Digital Toll Tax Calculator</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="users.html" class="w3-bar-item w3-button">User Login</a>
      <a href="admin.html" class="w3-bar-item w3-button">Admin Login</a>
      <a href="insert.html" class="w3-bar-item w3-button">New User</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">

  <img class="w3-image" src="https://img.freepik.com/free-vector/modern-metropolis-speed-highway-cartoon-vector_1441-3374.jpg?size=626&ext=jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min">
        <b>D T T C</b>
      </span>
 </h1>
 <h2 class="w3-xxlarge w3-text-yellow">
      <span class=" w3-padding  w3-text-black">
        <b>Digital Toll Tax Calculator</b>
      </span>
    </h2>
  </div>

</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><strong>About</strong></h3>
    <p>
        Our project aims to provide a system for collecting toll tax,
        which is easy to interact with and hassle free when compared to the
        current system. It is a new take on the current fastag system deployed on
        Indian highways. The changes we made are to make the whole process
        much simpler and making the process uniform by taking out the third party.
        Currently, various banks and payment wallets sell fastags. Different
        vehicle owners have fastags from various companies so they get a
        different service or even different benefits. By this system, we can
        have a single portal for every vehicle and then link it to a
        payment method by which the tax will reach the government directly.
        This makes the process a bit more transparent and removes the additional
        charges the bank takes for putting the fastag on our vehicles. This system
        does not require any sticker or chip to be put on our vehicles; it scans the
        number plate to have a unique id. This system requires having cameras on the
        entries/exits of a highway, which scan for number plates. After scanning, the
        total tax to be paid for a journey is calculated and reflected on the website.
        It also offers officials to check which vehicles passed on a particular entry/exit
        between a certain periods. They can check the details of these vehicles as well.
        Using this system, we feel the process of tax collection we become easier for the
        government and also it will be much easier for people to pay taxes.
    </p>
  </div>


<!-- Image of location/map -->
<div class="w3-container">
  <img src="https://www.w3schools.com/w3images/map.jpg" class="w3-image" style="width:100%" sizes="" align="w3-center">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p><b>Digital Toll Tax Calculator</b> <br>
  SHIV NADAR UNIVERSITY</p>
</footer>

</body>
</html>