<!DOCTYPE html>
<html>
<head>
<title>User Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" Navbar href="https://www.w3schools.com/w3css/4/w3.css">

</head>


<body style="background-color:LightYellow">

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://www.veridiancu.org/webres/image/2019/News/Header/Buy%20Car%20Header_797x325_March%2019.jpg" alt="Architecture" width="1500" height="800">
  </header>

  <div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="http://127.0.0.1:5000/" class="w3-bar-item w3-button"> DTTC | <b>Digital Toll Tax Calculator</b></a>


    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="http://127.0.0.1:5000/" class="w3-bar-item w3-button">Home</a>
    </div>
  </div>
</div>


	<!-- User Section -->

  <div class="w3-container w3-padding-32" id="User">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><strong>User Login</strong></h3>
    <p>Enter your vehicle number to get further information</p>
    <form action="" target="table_user.html" method="post">
      <input class="w3-input w3-border" name="Vehicle Number" type="alphanumeric" placeholder="Vehicle Number" minlength="10" maxlength="10" required name="Vehicle number">

      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i>Enter
      </button>
    </form>
  </div>

<footer class="w3-center w3-black w3-padding-16">
  <p><b>Digital Toll Tax Calculator</b> <br>
  SHIV NADAR UNIVERSITY</p>
</footer>

</body>
</html>